
<hr/>

<div class="container">
    <h2>Login</h2>
    <form action="/v1/auth" method="post">
        <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr/>

<div class="container">
    <h2>Protected Routes</h2>
    <form action="/v1/auth" method="post">
        <div class="form-group">
        <label for="exampleInputEmail1">Route</label>
        <select class="form-control">
            <option>/v1/users</option>
        </select>
        <small id="emailHelp" class="form-text text-muted">Select a gated route</small>
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Token</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="token">
        <small id="emailHelp" class="form-text text-muted">Enter your authentication token</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

