
<hr/>

<div class="container">
    <h2>Login</h2>
    <form action="/v1/auth" method="post" id="form_login">
        <div class="form-group">
        <label for="username">Email address</label>
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email" name="username">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br/><br/>
        <div class="alert alert-success token-alert" role="alert">
            <strong>Token:</strong><span></span>
        </div>

    </form>
</div>

<hr/>

<div class="container">
    <h2>Protected Routes</h2>
    <form action="/v1/auth" method="post" id="form_protected_routes">
        <div class="form-group">
        <label for="exampleInputEmail1">Route</label>
        <select class="form-control" id="route">
            <option value="/v1/users">/v1/users</option>
            <option value="/v1/user/5c0a7db9e10bf07cc1a2c348">/v1/user/5c0a7db9e10bf07cc1a2c348 (Luke)</option>
        </select>
        <small id="emailHelp" class="form-text text-muted">Select a gated route</small>
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Token</label>
        <input type="text" class="form-control" id="authToken" placeholder="Token" name="token">
        <small id="emailHelp" class="form-text text-muted">Enter your authentication token</small>
        </div>
        <label for="response">Response</label>
        <textarea class="form-control" id="response" rows="10" readonly></textarea><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

