.container {
    display:block;
    max-width: 800px;
    margin:auto;
    margin-top:30px;
    margin-bottom: 30px;

}

.token-alert, .newuser-alert {
    display: none;
    overflow-wrap: break-word;
}

.token-alert span {
    display:block;
}

.token-alert.show, .newuser-alert.show {
    display:block;
}

form {
    display:block;
    margin-top:30px;
}

.protected-routes {
    padding:0;
    margin:0;
}

.protected-routes li {
    list-style:none;
}